@use "sass:map";

$columns: 12;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

// conversion table from mq-breakpoints and grid classNames
$grid-names: (
    xs: default,
    sm: sm,
    md: md,
    lg: lg
);

// selection of column utility classes for each breakpoint
$grid-classes: (
    xs: (12, 6),
    sm: (12, 8, 6, 4),
    md: (12, 9, 8, 6, 4, 3),
    lg: (12, 10, 9, 8, 6, 4, 3, 2)
);



.wrap {
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
    padding: 0 calc(var(--gutter)/2);
}

.grid{
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: var(--baseline) var(--gutter);
}

@each $grid-name, $mq-breakpoint in $grid-names {
    @if $mq-breakpoint == default {
        @each $class in map.get($grid-classes,  $grid-name){
            .#{$grid-name}-#{$class} {
                grid-column: auto / span $class;
            }
        }
    } @else {
        @media(min-width:map.get($mq-breakpoints,  $mq-breakpoint)) {
            @each $class in map.get($grid-classes,  $grid-name){
                .#{$grid-name}-#{$class} {
                    grid-column: auto / span $class;
                }
            }
        }
    }
}