.wrap, div.wrap {
    @include wrap;
}

.row, div.row, .grid, .wrap:has(> .col) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: var(--gutter);
}

@each $grid-name, $mq-breakpoint in $grid-names {
    @if $mq-breakpoint == default {
        @each $class in map-get($grid-classes,  $grid-name){
            .#{$grid-name}-#{$class} {
                grid-column: auto / span $class;
            }
        }
    } @else {
        @media(min-width:map-get($mq-breakpoints,  $mq-breakpoint)) {
            @each $class in map-get($grid-classes,  $grid-name){
                .#{$grid-name}-#{$class} {
                    grid-column: auto / span $class;
                }
            }
        }
    }
}