.wrap, div.wrap {
    @include wrap;
}


//.grid should be the default grid container, but previous classnames have
// been included to ease the transition from flexbox
.grid, .row, .wrap:has(> .col) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: var(--gutter);
}

.grid + .grid, 
.grid + .row, 
.grid + .wrap:has(> .col),
.row + .row, 
.row + .wrap:has(> .col),
.row + .grid,
.wrap:has(> .col) + .grid,
.wrap:has(> .col) + .row, 
.wrap:has(> .col) + .wrap:has(> .col) {
    margin-top: var(--gutter);
}

@each $grid-name, $mq-breakpoint in $grid-names {
    @if $mq-breakpoint == default {
        @each $class in map-get($grid-classes,  $grid-name){
            .#{$grid-name}-#{$class} {
                grid-column: auto / span $class;
            }
        }
    } @else {
        @media(min-width:map-get($mq-breakpoints,  $mq-breakpoint)) {
            @each $class in map-get($grid-classes,  $grid-name){
                .#{$grid-name}-#{$class} {
                    grid-column: auto / span $class;
                }
            }
        }
    }
}