.peta {
    font-size:2.986rem;
    line-height:1.25;
}

.tera {
    font-size:2.488rem;
    line-height:1.25;
}

.giga {
    font-size:2.074rem;
    line-height:1.25;
}

.mega {
    font-size: 1.728rem;
    line-height:1.25;
}

.alpha {
    font-size: 1.44rem;
    line-height: 1.25;
}

 .beta {
    font-size:1.2rem;
    line-height:1.4;
}

.gamma {
    font-size:1rem;
    line-height:1.2;
}

.delta {
    font-size:0.85rem;
    line-height:1.4;
}

.epsilon {
    font-size:0.694rem;
    line-height:1.4;
}

.zeta { 
    font-size:.579rem;
    line-height:1.4;
}