{
    "presets": [
      [
        "@babel/preset-env",
        {
					"loose": true,
          "modules": "commonjs",
          "targets": {
            "node": 8,
            "browsers": ["> 0.25%", "IE >= 9"]
          }
				}
      ]
    ],
    "plugins": [
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "h"
        }],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-proposal-object-rest-spread",
        ["module:fast-async", { "spec": true }]
      ]
  }