.card__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    max-width: 1024px;
}
.card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width:100%;
    margin-bottom: var(--baseline);
    background-color:white;
    color:var(--off-black);
    max-width:650px;
}
.card--empty {
    box-shadow: none;
    background-color:transparent;
    min-height:90px;
    border:3px dashed var(--light-grey-3);
}

@media (min-width:560px){
    .card {
        width: calc(1/2*100% - (1 - 1/2)*var(--gutter));
    }
}
.card__img {
    // margin-bottom:var(--baseline);
}
.card__bd {
    padding:var(--baseline) var(--gutter);
}
.card__title {
    margin-bottom: calc(var(--baseline)/2);
    font-size: var(--font-size-gamma);
    line-height: var(--line-height-gamma);
}
.card__summary {
    font-size: var(--font-size-delta);
    line-height: var(--line-height-delta);
}