.form__legend {
    font-size: var(--font-size-beta);
    line-height: var(--line-height-beta);
    margin-bottom: calc(var(--baseline)/2);
}
.label {
    color: var(--dark-grey-3);
    font-family: var(--font-family-medium);
    font-size: var(--font-size-delta);
    line-height: var(--line-height-delta);
    display: block;
    margin-bottom: calc(var(--baseline)/4);
    text-align: left;
}
.input {
    color: var(--dark-grey-3);
    background-color: var(--light-grey-1);
    margin-bottom:calc(var(--baseline)/2);
    border: none;
    // border: 1px solid var(--light-grey-2);
    border-bottom: 1px solid var(--light-grey-1);
    // border-radius: 2px;
    font-size: var(--font-size-delta);
    max-width: 100%;
    padding: calc(var(--baseline)/2);
    position: relative;
    width: 100%;
        &:focus {
            outline: 0 none;
            background-color: var(--light-grey-2);
        }
}
.input:disabled,
.input[readonly=true] {
    cursor: default;
    pointer-events: none;
}
.input[aria-invalid=true] {
    border: 1px solid var(--error-red);
}
.required {
    font-size: var(--font-size-epsilon);
    line-height: var(--line-height-epsilon);
    color:var(--dark-grey-1);
    font-family: var(--font-family-default);
    text-align: left;
}