.login {
    border-top:4px solid #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:90vh;
}
.login__form {
    margin-top:var(--baseline);
    padding:var(--baseline) var(--gutter);
    background-color:#fff;
    box-shadow:0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    width:80%;
    max-width:450px;
}