.nav-primary__container {
    flex:1;
    text-align: right;
}
@media(max-width: 599px) {
    .nav-primary {
        position: absolute;
        top:-100%;
    }
    .active > .nav-primary {
        top: 50px;
        right: var(--gutter);
        background-color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
}
.nav-primary__btn {
    background-color:transparent;
    padding: calc(var(--baseline)/3);
    position: relative;
    top: calc(var(--baseline)/2);
}
.nav-primary__item {
    align-items: center;
} 
.nav-primary__link {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    color:var(--off-black);
    padding:calc(var(--baseline)/4) calc(var(--gutter));
    font-size:var(--font-size-delta);
    border-left:4px solid transparent;
    opacity: .75;
        &.is--active {
            border-left:4px solid var(--off-black);
            opacity: 1;
        }
}
@media(min-width: 600px) {
    .nav-primary {
        flex:1;
        text-align: right;
        height: 100%;
    }
    .nav-primary__list {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    .nav-primary__btn {
        display: none;
    }
    .nav-primary__item {
        padding:0 var(--gutter);
    }
    .nav-primary__link {
        font-size:var(--font-size-gamma);
        padding:0;
        border-left:0 none;
            &.is--active{
                opacity: 1;
                border-left:0 none;
                &:after {
                    content: '';
                    opacity: 1;
                    position: absolute;
                    bottom:1px;
                    left:0;
                    right:0;
                    height:4px;
                    background-color:#f5f5f5;
                    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
                }
            }
            &:hover {
                opacity: 1;
            }
    }
}