.nav-primary__container {
    flex:1;
    text-align: right;
}
@media(max-width: 599px) {
    .nav-primary {
        position: absolute;
        left:100%;
    }
}
@media(min-width: 600px) {
    .nav-primary {
        flex:1;
        text-align: right;
        height: 100%;
    }
    .nav-primary__list {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    .nav-primary__btn {
        display: none;
    }
}
.nav-primary__btn {
    background-color:transparent;
    padding: calc(var(--baseline)/3);
    position: relative;
    top: calc(var(--baseline)/2);
}
.nav-primary__item {
    align-items: center;
    padding:0 var(--gutter);
} 
.nav-primary__link {
    display: flex;
    align-items: center;
    height: 100%;
    color:white;
    position: relative;
    opacity: .75;
        &.is--active{
            opacity: 1;
            &:after {
                content: '';
                opacity: 1;
                position: absolute;
                bottom:1px;
                left:0;
                right:0;
                height:4px;
                background-color:#f5f5f5;
                box-shadow: 2px 4px 10px rgba(0,0,0,.2);
            }
        }
        &:hover {
            opacity: 1;
        }
}