:root{
    --font-family-default: sans-serif;

    --font-size-peta: 2.986rem;
    --line-height-peta: 1.25;
    --font-size-giga: 2.074rem;
    --line-height-giga: 1.25;
    --font-size-mega: 01.728rem;
    --line-height-mega: 1.25;
    --font-size-beta: 1.2rem;
    --line-height-beta: 1.4;
    --font-size-alpha: 1.44rem;
    --line-height-alpha: 1.25;
    --font-size-gamma: 1rem;
    --line-height-gamma: 1.2;
    --font-size-delta: 0.85rem;
    --line-height-delta: 1.4;
    --font-size-epsilon: 0.694rem;
    --line-height-epsilon: 1.4;

    --baseline: 1.5rem;
    --gutter: 24px;
    
    --light-grey-1: #f5f5f5;
    --light-grey-2: #e6e6e6;
    --light-grey-3: #cccccc;
    --mid-grey-1: #b3b3b3;
    --mid-grey-2: #999999;
    --mid-grey-3:#808080;
    --dark-grey-1: #666666;
    --dark-grey-3: #323232;
}